{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}


<body>
{% include 'includes/navbar.html' %}
<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>{{ site_title }}</h1>
        <p>I'm <span class="typed" data-typed-items="Developer, Engineer"></span></p>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>{{ About_desc }}</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="{% get_media_prefix %}img/profile-img1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>{{ About_me }}</h3>
                    <p class="fst-italic">
                        {{ About_me_desc }}
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Nationality:</strong>
                                    <span>Turkish</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                                    <span>22 Feb 2002</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Gender:</strong> <span>Female</span>
                                </li>

                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong>
                                    <span>{{ location }}</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                                    <span>{{ phone }}</span></li>

                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{ mail }}</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span>
                                </li>

                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                                    <span>Available</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        {{ About_me_desc2 }}
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= languages Section ======= -->
    <section id="facts" class="facts">
        <div class="container">

            <div class="section-title">
                <h2>Languages</h2>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100"
                     style="margin-right: 80px;">
                    <div class="count-box">
                        <i class="bi bi-chat-right-dots"></i>
                        <span>Turkish</span>
                        <p><strong>Native </strong></p>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="bi bi-chat-right-dots"></i>
                        <span>English</span>
                        <p><strong>Intermediate </strong> Level: B2</p>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Skills</h2>
                <p>{{ skills_desc }}</p>
            </div>

            <div class="row skills-content">
                <div class="col-lg-6" data-aos="fade-up">
                    {% for skill in skills %}
                        {% if forloop.counter0|divisibleby:2 %}
                            <div class="progress">
                                <span class="skill">{{ skill.name }} <i class="val">{{ skill.percentage }}</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percentage }}"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-lg-6" data-aos="fade-up">
                    {% for skill in skills %}
                        {% if not forloop.counter0|divisibleby:2 %}
                            <div class="progress">
                                <span class="skill">{{ skill.name }} <i class="val">{{ skill.percentage }}</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percentage }}"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
                <p>{{ resume_desc }}</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Sumary</h3>
                    <div class="resume-item pb-0">
                        <h4>{{ site_title }}</h4>
                        <p><em>{{ sumary_desc }}</em></p>
                        <ul>
                            <li>{{ location }}</li>
                            <li>{{ phone }}</li>
                            <li>{{ mail }}</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>piri reis university</h4>
                        <h5>2020 - 2024</h5>
                        <p>Bachelor's degree in Information Systems Engineering</p>
                        <div><i class="bi bi-award-fill"></i>
                            <p><em>I graduated with honors. (I hope)</em></p>
                        </div>

                    </div>
                    <div class="resume-item">
                        <h4>Kariyer Mimari foundation high school</h4>
                        <h5>2016 - 2020</h5>
                        <div><i class="bi bi-award-fill"></i>
                            <p><em>I graduated from high school as an honor student and first place.</em></p>
                        </div>

                    </div>

                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    {% for experience in experiences %}
                        <div class="resume-item">
                            <h4>{{ experience.company_name }}</h4>
                            <h5>{{ experience.start_date|date:"M Y" }} -
                                {% if experience.end_date %}
                                    {{ experience.end_date|date:"M Y" }}
                                {% else %}
                                    Present
                                {% endif %}

                            </h5>
                            <p><i class="bi bi-geo-alt-fill"></i><em>{{ experience.job_location }} </em></p>
                            <ul>
                                {{ experience.job_description }}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="services" class="testimonials section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Certificates</h2>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <h3>Game and Application Academy Graduate </h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                {{ cert1_desc }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <a href="https://hizliresim.com/9wmio4g" target="_blank">
                                <img src="{% get_media_prefix %}img/testimonials/sertifika.jpg" class="testimonial-img"
                                     alt="">
                            </a>
                        </div>
                    </div>

                    <!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>{{ contact_desc }}</p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>{{ location }}</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>{{ mail }}</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>{{ phone }}</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="{% url 'contact_form' %}" method="post" role="form" id="şablon">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="my-3">

                            <div class="error-message"></div>

                        </div>
                        <!-- Modal -->
                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>Your message has been sent. Thank you!</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button id="buton" type="submit">Send Message</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section>

    <!-- End Contact Section -->

</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


{% include 'includes/footer.html' %}
</body>

<style>
    #şablon {
        width: 100%;
        padding: 30px;
        background: #fff;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    }

    #buton {
        background: #149ddd;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
    }
</style>

</html>